.terraform/providers/registry.terraform.io/hashicorp/aws/3.76.1/windows_amd64/terraform-provider-aws_v3.76.1_x5.exe
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
metadata
plan.json
plan.out
.vscode/settings.json
app.log
app1.log
.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
firstawsamipacker.json
.terraform.*
.terraform/providers/registry.terraform.io/hashicorp/aws/5.38.0/windows_amd64/terraform-provider-aws_v5.38.0_x5.exe
.terraform/modules/vpc-qa/modules/vpc-endpoints/outputs.tf
.terraform/modules/vpc-qa/modules/vpc-endpoints/main.tf
.terraform/modules/vpc-qa/modules/vpc-endpoints/README.md
.terraform/modules/vpc-qa/modules/vpc-endpoints/variables.tf
.terraform/modules/vpc-qa/examples/vpc-flow-logs/outputs.tf
.terraform/modules/vpc-qa/examples/vpc-flow-logs/README.md
.terraform/modules/vpc-qa/examples/simple/versions.tf
.terraform/modules/vpc-qa/examples/simple/variables.tf
.terraform/modules/vpc-qa/examples/simple/README.md
.terraform/modules/vpc-qa/examples/simple/outputs.tf
.terraform/modules/vpc-qa/examples/simple/main.tf
.terraform/modules/vpc-qa/examples/separate-route-tables/README.md
.terraform/modules/vpc-qa/examples/separate-route-tables/outputs.tf
.terraform/modules/vpc-qa/examples/outpost/versions.tf
.terraform/modules/vpc-qa/examples/secondary-cidr-blocks/main.tf
.terraform/modules/vpc-qa/examples/outpost/outputs.tf
.terraform/modules/vpc-qa/examples/outpost/*
.terraform/modules/vpc-qa/modules/*
.terraform/modules/vpc-qa/examples/separate-route-tables/variables.tf
.terraform/modules/vpc-qa/examples/network-acls/versions.tf
.terraform/modules/vpc-qa/examples/network-acls/variables.tf
.terraform/modules/vpc-qa/examples/network-acls/README.md
.terraform/modules/vpc-qa/examples/secondary-cidr-blocks/README.md
.terraform/modules/vpc-qa/examples/issues/versions.tf
.terraform/modules/vpc-qa/examples/complete/README.md
.terraform/modules/vpc-qa/examples/complete/variables.tf
.terraform/modules/vpc-qa/examples/vpc-flow-logs/versions.tf
.gitignore
.terraform/modules/vpc-qa/examples/manage-default-vpc/variables.tf
.terraform/modules/vpc-qa/examples/manage-default-vpc/versions.tf
.terraform/modules/vpc-qa/examples/network-acls/main.tf
.terraform/modules/vpc-qa/examples/network-acls/outputs.tf
.terraform/modules/vpc-qa/examples/secondary-cidr-blocks/outputs.tf
.terraform/modules/vpc-qa/examples/secondary-cidr-blocks/variables.tf
.terraform/modules/vpc-qa/examples/secondary-cidr-blocks/versions.tf
.terraform/modules/vpc-qa/examples/separate-route-tables/main.tf
.terraform/modules/vpc-qa/examples/separate-route-tables/versions.tf
.gitignore
.terraform/modules/vpc-qa/examples/vpc-flow-logs/variables.tf
.terraform/modules/vpc-qa/examples/vpc-flow-logs/main.tf
.terraform/modules/vpc-qa/examples/manage-default-vpc/README.md
.terraform/modules/vpc-qa/examples/manage-default-vpc/outputs.tf
.terraform/modules/vpc-qa/examples/manage-default-vpc/main.tf
.terraform/modules/vpc-qa/examples/issues/variables.tf
.terraform/modules/vpc-qa/examples/issues/README.md
.terraform/modules/vpc-qa/examples/issues/outputs.tf
.terraform/modules/vpc-qa/examples/issues/main.tf
.terraform/modules/vpc-qa/examples/ipv6-only/versions.tf
.terraform/modules/vpc-qa/examples/ipv6-only/variables.tf
.terraform/modules/vpc-qa/examples/ipv6-only/README.md
.terraform/modules/vpc-qa/examples/ipv6-only/outputs.tf
.terraform/modules/vpc-qa/examples/ipv6-only/main.tf
.terraform/modules/vpc-qa/examples/ipv6-dualstack/versions.tf
.terraform/modules/vpc-qa/examples/ipv6-dualstack/variables.tf
.terraform/modules/vpc-qa/examples/ipv6-dualstack/README.md
.terraform/modules/vpc-qa/examples/ipv6-dualstack/outputs.tf
.terraform/modules/vpc-qa/examples/ipv6-dualstack/main.tf
.terraform/modules/vpc-qa/examples/ipam/versions.tf
.terraform/modules/vpc-qa/examples/ipam/variables.tf
.terraform/modules/vpc-qa/examples/ipam/README.md
.terraform/modules/vpc-qa/examples/ipam/outputs.tf
.terraform/modules/vpc-qa/examples/ipam/main.tf
.terraform/modules/vpc-qa/examples/complete/versions.tf
.terraform/modules/vpc-qa/examples/complete/outputs.tf
.terraform/modules/vpc-qa/examples/complete/main.tf
.terraform/modules/vpc-qa/vpc-flow-logs.tf
.terraform/modules/vpc-qa/versions.tf
.terraform/modules/vpc-qa/variables.tf
.terraform/modules/vpc-qa/UPGRADE-4.0.md
.terraform/modules/vpc-qa/UPGRADE-3.0.md
.terraform/modules/vpc-qa/README.md
.terraform/modules/vpc-qa/outputs.tf
.terraform/modules/vpc-qa/main.tf
.terraform/modules/vpc-qa/LICENSE
.terraform/modules/vpc-qa/CHANGELOG.md
.terraform/modules/modules.json
